/* basic style */
  * {
    margin: 0;
    padding: 0;
    }

  @import url('https://fonts.googleapis.com/css2?family=Nabla&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
  body {
    background-color: rgb(25, 25, 25);
    color: white;
    font-family: 'roboto';
    font-size: 3vh;
  }
  a {
    color: white;
    text-decoration: none;
  }
  .nabla {
    font-family: 'nabla';
  }


/* navbar */
  /* basic */
    #navbar {
      position: fixed;
      top: 1vh;
      left: 0;
      right: 0;
      display: flex;
      margin: 0 auto;
      flex-direction: row;
      justify-content: center;
    }
    .navbar_element {
      background: darkblue;
      margin: 0vh 0.3vw;
      display: inline-block;
      border: solid 0.4vh blue;
      border-radius: 1.8vh;
      padding: 0.5vh 1vh;
      transition: 0.5s;
    }
  /* states */
    /* button interactivity */
      .navbar_element:hover {
        background-color: blue;
        font-size: larger;
      }
      .navbar_element:active {
        background-color: dodgerblue;
      }

      
/* content */


/* heading */
    #heading {
      font-size: 15vh;
    }
    #heading_container {
      display: flex;
      height: 100vh;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

/* cards */
  .card_container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
                 
  }
  .card{
    width: 32vw;
    height: max-content;
    display: inline-block;
    background-color: darkblue;
    border-radius: 3vh;
    flex-grow: 1;
    flex-shrink: 1;
  }
  .card_image_container{
    width: 32vw;
    height: 18vw;
    overflow: hidden;
    display: flex;
  }
  .card_image {
    height: 100%;
    object-fit: cover;
    aspect-ratio: 16/9;
    flex-grow: 100;
  }